*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    margin: 0;
}

header{
    box-shadow: 0px 6px 12px -2px gray;
    position: sticky;
    top: 0;
}

header div{
    padding: 30px;
    background-color: #F7EF59;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    padding: 10px;
    width: 30vw;
    background-color: white;
    border-radius: 5px;
}

input{
    border: none;
    font-size: 16px;
    width: 80%;
}

nav{
    font-weight: bolder;
    padding: 12px 100px;
    display: flex;
    gap: 50px;
}

a{
    color: #D85854;
    text-decoration: none;
}

a:hover{
    color: rgb(47, 47, 127);
}
/* 
a:hover:after{
    bottom: 0;
    left: 0;
    content: "";
    height: 1px;
    width: auto;
    background-color: red;
} */

.buttom{
    padding: 0%;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 14px;
}

.buttom img{
    width: 30px;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.zap{
    position: fixed;
    width: 60px;
    bottom: 30px;
    right: 30px;
    border: 2px solid green;
    border-radius: 50%;
}

footer{
    background-color:#D85854;
    color: #F7EF59;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bolder;
}

/* INICIO Pagina Login*/
    #barra-horizontal
    {
        background-color: darkred;
        height: 5px;
        width: 100%;
    }
    .lgn
    {
        box-shadow: 1px 1px 5px gray;
        background-color: white;
        padding: 50px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    #login
    {
        display: flex;
        justify-content: center;
        max-width: 400px;
        border-radius: 5px;
    }
    #username, #password
    {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #button
    {
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        background-color: #f1f1f1; 
    }
    #button:hover
    {
        background-color: #ddd;
        cursor: pointer;
    }
/* FIM Pagina Login*/