@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
header div{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: #FFFF00;
    justify-content: center;
}
header img{
    height: auto;
    max-width: 50px;
}
h1{
    text-align: center;
}
nav{
    font-weight: bolder;
    text-align: center;
    background-color: #E30800;
    color: #FFFF00;
    padding: 12px 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
a{
    color: #FFFF00;
    text-decoration: none;
}

a:hover{
    color: white;
}

main{
    flex: 1;
}

footer{
    background-color:#E30800;
    color: #FFFF00;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bolder;
}
